/* */
html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* ID Selector: #my-id */
#elenco {
  color: chartreuse;
}

#primo-par {
  color: black;
  width: 300px;
}

/* Class Selector: .my-class*/
.secondo-par {
  color: blue;
  width: 600;
}

/* Element selector: all HTML element(s) of the specific type */
p {
  color: red;
  width: 500px;
}

/* Pseudo-class Selector: a:hover */
a:hover {
  color: orange;
}

/* Attribute Selecto: img[src] */
img[src] {
  color: black; /* pseudo-code */
}

/* Changing the page color */
html {
  background-color: #00539f;
}

/* Sorting the body out*/
body {
  width: 600px;
  margin: 0 auto; /* the space around the outside of the element. Two values: 8top and bottom) for the first and (left and right side) for the second; four values: */
  background-color: #ff9500;
  padding: 0 20px 20px 20px; /* the space just around the content: top, left, bottom and right */
  border: 5px solid black; /* the solid line that sits just outside the padding */
}

/* Positioning and styling our main page title */
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black; /* orizontal offset, vertical offset, blur radius, base color of the shadow */
}

img {
  display: block;
  margin: 0 auto;
}
